* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}

body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

section{
    margin-bottom: 40px;
}

strong{
    color: #06a800;
}

body h2{
    font-weight: 700;
    color: #EA542D;
    margin-bottom: 20px;
    border-bottom: 1px solid #00000027;
    padding-bottom: 8px;
}

body h3{
    font-family: 'Roboto Mono', sans-serif;
    color: #EA542D;
    font-size: 24px;
}

body h4{
    font-size: 24px;
    margin: 0;
    color: #EA542D;
    margin-bottom: 5px;
}

body h5{
    font-weight: bolder;
    margin: 5px 0;
}

i{
    margin-right: 8px;
}

main img{
    width: 100%;
}

.preco{
    font-size: 16.5px;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: bold;
}

.botao{
    color: white;
    font-weight: bold;
    border-radius: 3px;
}

header.navbar{
    background-image: linear-gradient(to right, #EA542D, #EA2D2D);
    padding: 15px 0;
}

header.navbar img{
    max-height: 50px;
}

nav .nav-pills .nav-link{
    color: white;
    font-size: 110%;
    font-weight: bolder;
}

header nav .nav-pills .nav-link:hover{
    color: white;
}

header nav .nav-pills .nav-link.active{
    background-color: white;
    color: #EA542D;
}

header.navbar .navbar-toggler{
    border: none;
}

header.navbar .navbar-toggler-icon{
    background-image: url(imagens/icon/menu-hamburguer.png);

}

header.navbar .navbar-toggler:focus{
    box-shadow: none;
}

#praia #carousel .carousel-item img{
    width: 100%;
}

#lockers article{
    display: grid;
    grid-template-columns: 48.5% 48.5%;
    column-gap: 3%;
}

#lockers p{
    font-size: 18px;
    text-align: justify;
}

#lockers .corpo-modal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#lockers .sobre-armarios button{
    padding: 10px 15px 11px 15px;
    background-color: #06a800;
}

#lockers .sobre-armarios button.b-reservar{
    padding: 5px 8px 6px 8px;
}

#lockers .sobre-armarios button.b-cancel{
    background-color: #c20000;
    padding: 5px 8px 6px 8px;
}

#lockers .card .card-header{
    background-color: #EA542D;
    color: white;
}

#surf .nav.nav-pills .nav-link{
    border-radius: 5px 5px 0px 0px;
    color: #c72800;
}

#surf .nav.nav-pills .nav-link.active{
    border-radius: 5px 5px 0px 0px;
    background-color: #ffeae6;
    color: #9a1f00;
}

#surf .struc-ecommerce{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    column-gap: 1.33333%;
    background-color: #ffeae6;
    padding: 15px 15px 0px 15px;
}

#surf .tab-pane .ecommerce-item{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.107);
    padding: 12px 18px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 15px;
}

#surf .tab-pane .ecommerce-item h3{
    font-size: 20px;
}

#surf .tab-pane .ecommerce-item .preco{
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
}

#surf .tab-pane .ecommerce-item .b-comprar{
    display: block;
    width: 100%;
    font-size: 16px;
    background-color: #06a800;
    border-radius: 1px;
    padding: 4px 0 5px 0;
    margin-top: 15px;
}

#sobre-nos{
    min-height: 80vh;
}

#sobre-nos .sec-valores{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 1.5%;
}

#sobre-nos img{
    max-width: 100px;
    margin: 30px auto;
    display: block;
}

#sobre-nos article{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.107);
    border-radius: 5px;
    margin-top: 40px;
}

#sobre-nos h3,
#sobre-nos ul{
    text-align: center;
    padding-left: 0;
    margin-bottom: 35px;
}

#sobre-nos p{
    margin: 0 8px 45px 8px;
    text-align: center;
}

#contato h3{
    font-size: 27px;
    margin-bottom: 20px;
}

#contato label{
    display: block;
    margin-top: 23px;
    font-size: 20px;
    color: #EA542D;
}

#contato input,
#contato input::placeholder,
#contato select{
    color: #555;
}

#contato #fale-conosco h3{
    margin-bottom: 28px;
}

#contato #fale-conosco h4{
    font-size: 21px;
    margin: 50px 0 10px 0;
}

#contato .fale-conosco-link{
    color: #333;
    text-decoration: none;
    font-family: 'Roboto', sans-serif; font-weight: 400;
}

#contato .redes-sociais-img{
    width: 25px;
    margin-right: 10px;
}

#contato .botao-enviar{
    display: block;
    width: 100%;
    background-color: #EA542D;
    padding: 6px 0 7px 0;
}

#rodapé img{
    width: auto;
    margin: 5px 0;
    height: 30px;
}










@media screen and (max-width: 991px){
    nav .nav.nav-pills{
        margin-top: 20px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    #surf .struc-ecommerce{
        grid-template-columns: 32% 32% 32%;
        column-gap: 2%;
    }
}

@media screen and (min-width: 767px) and (max-width: 991px){
    #surf .struc-ecommerce{
        grid-template-columns: 49% 49%;
        column-gap: 2%;
    }
}

@media screen and (max-width: 767px){
    #lockers article,
    #sobre-nos .sec-valores,
    #surf .struc-ecommerce{
        grid-template-columns: 100%;
    }
} 

@media screen and (max-width: 500px){
    header.navbar img{
        max-height: 45px;
    }
}

@media screen and (max-width: 414px){
    #surf nav.nav.nav-pills{
        flex-direction: column;
    }

    #surf .nav.nav-pills .nav-link.active{
        border-radius: 5px;
    }

    #surf .struc-ecommerce{
        margin-top: 10px;
    }
}